.square {
  width: 100px;
  height: 100px;
  border-color: rgb(37, 16, 1);
  border-width: 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 1px;
  background-color: transparent;
  font-size: 70px;
}


.board {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0px;
}